<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>171633990879-n4bf817qca5opeuup80af30lsfr67fi8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.171633990879-n4bf817qca5opeuup80af30lsfr67fi8</string>
	<key>API_KEY</key>
	<string>AIzaSyAmAQXMWDBqbGbaje3ynFk_0kyUGhGP2Ko</string>
	<key>GCM_SENDER_ID</key>
	<string>171633990879</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hr.franmatesic.pemo</string>
	<key>PROJECT_ID</key>
	<string>pemo-db</string>
	<key>STORAGE_BUCKET</key>
	<string>pemo-db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:171633990879:ios:1618a9054bc83d4bce1d6a</string>
</dict>
</plist>